@{
    ViewBag.Title = "Employee";
}

<div class="jumbotron">
    <h1>Attendance System</h1>
    <p class="lead">
        Welcome to our Attendance Management System.<br>
        Just keep calm &&& follow us
    </p>
        <button> @Html.ActionLink("Click Here to Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    
</div>